<div
  class="flex flex-col items-center justify-center w-screen min-h-screen text-gray-700 p-10 bg-gradient-to-br from-purple-200 via-pink-200 to-pruple-200"
>
  <div class="flex items-center w-full max-w-screen-lg mb-6">
    <button
      (click)="returnToList()"
      class="mr-6 p-4 bg-white rounded-lg shadow-md ring-8 ring-white ring-opacity-40 hover:bg-gray-200"
    >
      <span class="material-symbols-outlined text-sm">arrow_back</span>
    </button>
    <input
      (keydown.enter)="findLocation()"
      [(ngModel)]="cityName"
      type="text"
      placeholder="Search..."
      class="flex-1 p-4 text-gray-700 bg-white rounded-lg shadow-md ring-8 ring-white ring-opacity-40"
    />
  </div>
  <div
    class="w-full max-w-screen-lg bg-white p-10 rounded-xl ring-8 ring-white ring-opacity-40"
  >
    @if(selectedIndex === -1) {
    <app-daily-weather-list
      [dailyWeatherInfoList]="dailyWeatherInfoList"
      (onIndexSelection)="handleSelection($event)"
    ></app-daily-weather-list>
    } @else {
    <app-daily-weather-info
      [dailyWeatherInfo]="dailyWeatherInfoList[selectedIndex]"
    ></app-daily-weather-info>
    }
  </div>
  <button
    class="mt-6 p-4 bg-white rounded-lg shadow-md ring-8 ring-white ring-opacity-40 hover:bg-gray-200 text-lg"
    (click)="redirectToRainChart()"
  >
    Check out last month's rain chart for this city
  </button>
</div>
