<div
  class="flex flex-col items-center justify-center w-screen min-h-screen text-gray-700 p-10 bg-gradient-to-br from-purple-200 via-pink-200 to-pruple-200"
>
  <div
    class="w-full bg-white p-10 rounded-xl ring-8 ring-white ring-opacity-40"
  >
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [title]="chartOptions.title"
        [grid]="chartOptions.grid"
      >
      </apx-chart>
    </div>
  </div>
</div>
